{{# partial "contenido"  }}

    <h1>Trayectos</h1>

    <form method="post">
        <button type="submit">Crear Trayecto</button>
    </form>

    {{#each miembro.trayectos}}
            <div>
                <h1> El id del trayecto es: {{id}}   </h1>
                <button type="submit" onclick="window.location.href = window.location.href + '/{{id}}'">Ver</button>
                <form method="post" action="trayecto/{{id}}/eliminar">
                    <input type="hidden" name="trayecto" value="{{id}}">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
    {{/each}}

{{/partial}}

{{> base.hbs}}
