{{# partial "memberHeader"}}

    <h1>Trayectos</h1>

    <form method="post">
        <button type="submit">Crear Trayecto</button>
    </form>

    {{#each trayectos}}
            <div>
                <h1> El id del trayecto es: {{this.id}}   </h1>
                <button type="submit" onclick="window.location.href = window.location.href + '/{{this.id}}'">Ver</button>
                <form method="post" action="trayecto/{{this.id}}/eliminar">
                    <input type="hidden" name="trayecto" value="{{this.id}}">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
    {{/each}}

{{/partial}}

{{> headers/memberHeader.hbs}}
