{{# partial "contenido"  }}

    <h1>Trayectos</h1>

    <form method="post">
        <input type="submit">
    </form>

    {{#each miembro.trayectos}}
            <h1> El id del trayecto es: {{this.id}}   </h1>
    {{/each}}

{{/partial}}

{{> base.hbs}}
