<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alta de Organizaciones</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <!-- Custom -->
  <link rel='stylesheet' href='../public/stylesheets/style.css' />
  <link rel='stylesheet' href='../public/stylesheets/_shared.css' />
  <link href="../public/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
  <nav class="hc-navbar">
    <div class="hc-navbar-img">
        <img class="hc-navbar-img-huellas" src="../public/images/huellas.jpeg"/>
    </div>
    <div class="hc-navbar-items">
        <a class="hc-navbar-item" href="../views/AltaOrganizacion.html">
            <i class="fa-solid fa-building hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Organizaciones</span>
        </a>
        <a class="hc-navbar-item" href="../views/AltaMiembros.html">
            <i class="fa-solid fa-user hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Miembros</span>
        </a>
        <a class="hc-navbar-item" href="../views/SolicitudMiembros.html">
            <i class="fa-solid fa-envelope hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Solicitudes de Miembros</span>
        </a>
        <a class="hc-navbar-item" href="../views/altaTransporte.html">
            <i class="fa-solid fa-bus hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Transportes</span>
        </a>
        <a class="hc-navbar-item" href="../views/altaTrayecto.html">
            <i class="fa-solid fa-road hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Trayectos</span>
        </a>
        <a class="hc-navbar-item" href="../views/Login.html">
            <i class="fa-solid fa-arrow-right-from-bracket hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Salir</span>
        </a>
    </div>
</nav>
  <div class="hc-content">
    <form class="form">
      <h1>Alta de organizacion</h1>
      <hr />
      <div class="row">
        <div class="col">
          <label class="form-label">Nombre de la organizacion</label>
          <input type="text" class="form-control mb-2" placeholder="Ingrese un nombre de organizacion" />
        </div>
  
        <div class="col">
          <label class="form-label">Tipo de organizacion</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione un tipo de organizacion</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <label class="form-label">Razon social</label>
          <input type="text" class="form-control mb-2" placeholder="Ingrese la razon social de la organizacion" />
        </div>
        <div class="col">
          <label class="form-label">Clasificacion de la organizacion</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione una clasificacion</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div>
        <label class="form-label">Direccion de la organizacion</label>
        <input type="text" class="form-control mb-2" placeholder="Ingrese la direccion de la organizacion" />
      </div>
  
      <div class="alta-paradas-table">
        <label class="form-label">Sectores de la organizacion</label>
        <div class="alta-paradas-control">
            <div class="form-group alta-numero-parada">
                <label class="alta-form-group-name" for="numeroParada">
                    #
                </label>
                <input type="number" class="form-control" id="numeroParada" value="1" readonly>
            </div>
            <div class="form-group">
                <label class="alta-form-group-name">
                    Nombre del sector
                </label>
                <input type="text" class="form-control" id="nombreParada">
            </div>
            <button class="agregar-parada-button" id="agregarParadaButton" type="button">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
  
      <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-success" onclick="alert('Confirmar alta de organizacion')">Confirmar alta</button>
      </div>
    </form>
  </div>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <!-- Custom -->
  <script src="../public/javascripts/altaOrganizacion.js"></script>
</body>
</html>
