{{# partial "contenido"}}

    <p>Nombre: {{miembro.nombre}}</p>
    <p>Apellido: {{miembro.apellido}}</p>
    <p>Tipo Documento: {{miembro.tipoDoc}}</p>
    <p>Documento: {{miembro.documento}}</p>

{{/partial}}
{{> base.hbs}}

