{{# partial "memberHeader"}}

<script>
    if(!sessionStorage.getItem("memberPath")){
        sessionStorage.setItem("memberPath", document.URL);
        console.log("Seteado");
    }
</script>

<p>Nombre: {{miembro.nombre}}</p>
<p>Apellido: {{miembro.apellido}}</p>
<p>Tipo Documento: {{miembro.tipoDoc}}</p>
<p>Documento: {{miembro.documento}}</p>

{{/partial}}
{{> memberHeader.hbs}}