{{# partial "organizationHeader"}}



        <div class="hc-content">
        <div class="hc-card">
            <div class="mb-3">
                <span class="hc-card-title2">
                    Calculadora / huella
                </span>

            </div>
            <form method="post">
                <!--        este boton persiste el hc -->
                <button type="submit" class="btn btn-warning">Calcular HC</button>
            </form>
        {{#each sectores}}
            <h1> {{sectores.nombre}} </h1>
            <h1> {{sectores.cantidadMiembros}} </h1>
            <h1> {{sectores.huella}} </h1>
        {{/each}}

        </div>
    </div>

    <script>
  URL = window.location.href
  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault();

    fetch(URL, {
      method: 'POST',
      body: new FormData(document.querySelector('form'))
    })
    .then(response => {
      if (response.ok) {
        alert('Se calculo correctamente la Huella');
      } else {
        alert('No se pudo persistir la huella');
      }

    })
    .catch(error => {
      console.error(error);
      alert('An error occurred while submitting the form.');
    });
  });
</script>
{{/partial}}
{{> headers/organizationHeader.hbs}}