{{# partial "contenido"}}

    <p>Razon Social: {{organizacion.razonSocial}}</p>
    <p>Numero identificador: {{organizacion.id}}</p>
    <p>Clasificacion: {{organizacion.clasificacion}}</p>
    <p>Tipo de Organizacion: {{organizacion.tipo}}</p>

{{/partial}}
{{> base.hbs}}