{{# partial "organizationHeader"}}

    <h1>Subir Archivo Actividades</h1>
    <form method = "post" enctype='multipart/form-data'>
        <input name="archivo" type="file" accept=".xlsx" />
        <input type="submit"/>
    </form>

{{/partial}}
{{> headers/organizationHeader.hbs}}