{{# partial "contenido"}}

<nav class="hc-navbar">
  <div class="hc-navbar-img">
    <img class="hc-navbar-img-huellas" 
    src= '/images/huellas.jpeg'>
  </div>
  <div class="hc-navbar-items">
    <a
      class="hc-navbar-item clickeable-element"
      onclick="redirectTo('/solicitudes')"
    >
      <i class="fa fa-users hc-navbar-item-icon"></i>
      <span class="hc-navbar-item-text">Solicitudes</span>
    </a>
    <a class="hc-navbar-item clickeable-element" onclick="redirectTo('/huella')"
    >
      <i class="fa fa-calculator hc-navbar-item-icon"></i>
      <span class="hc-navbar-item-text">Calculadora</span>
    </a>
    <a class="hc-navbar-item clickeable-element" onclick="redirectTo('/subirActividades')">
      <i class="fa fa-upload hc-navbar-item-icon"></i>
      <span class="hc-navbar-item-text">Subir actividades</span>
    </a>
    <a class="hc-navbar-item clickeable-element" onclick="redirectTo('')">
      <i class="fa fa-info-circle hc-navbar-item-icon" aria-hidden="true"></i>
      <span class="hc-navbar-item-text">Mi organizacion</span>
    </a>
    <a class="hc-navbar-item clickeable-element" href="/login">
      <i class="fa-solid fa-arrow-right-from-bracket hc-navbar-item-icon"></i>
      <span class="hc-navbar-item-text">Salir</span>
    </a>
  </div>
</nav>

{{#block "organizationHeader"}} {{/block}}

{{/partial}}
{{> base.hbs}}