{{# partial "contenido"}}

<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    <a class="btn btn-light" href="/login"><i class="fa fa-arrow-left"></i> Volver</a>
  </div>
</nav>

{{#block "registrationHeader"}} {{/block}}

{{/partial}}
{{> base.hbs}}